
@using System.Security.Claims
@{
    ViewData["Title"] = "Login";
}

<h1>Welcome to Tracker!</h1>
<div id="firebaseui-auth-container"></div>
<div id="loader">Loading...</div>





@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Login</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="submit" name="SaveButton" value="Save" />
        </div>
    }*@

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyAM-fcFsCHIYctyZGcSpfxsHezP7vUxfGU",
        authDomain: "trackerapp-bf153.firebaseapp.com",
        databaseURL: "https://trackerapp-bf153.firebaseio.com",
        projectId: "trackerapp-bf153",
        storageBucket: "trackerapp-bf153.appspot.com",
        messagingSenderId: "291191075977",
        appId: "1:291191075977:web:aeb8ab3ceca553df574258",
        measurementId: "G-G6DB1GVD3H"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>

<script src="~/js/Auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />